.drag{
    height:30px;
    width:100px;
    background:lightblue;
    cursor: pointer;
    margin:8px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.dragParn{
    float:left;
    position: relative;
    padding:100px;
}
.border{
    border: 1px dashed black;
    opacity: .5;
}
.opacity{
    opacity: .5;
}